body{
margin:0px;
font-family:Arial, Helvetica, sans-serif;
}


#main-box{
	width:380px;
	height:460px;
	margin-top:0px;
	margin: 0 auto;
	position:relative;
}

#border{
	border: 1px solid #AAAAAA;
}

#top-box{
	width: inherit;
	height:80px;
}

#title-box{
	width: 298px;
	height:inherit;
	float:left;
	background-color: rgba(88, 150, 213, .85);
	color:white;
	text-align: center;
	font-size: 50px;
	font-family:Arial, Helvetica, sans-serif;
	
	
}

#image-box{
	width:80px;
	height: inherit;
	float:left;
}


#form-box{
	text-align: center;
	width:inherit;
	margin-top:40px;
}

/*input[type=submit] {*/
#wow-button{
	background-color:rgba(88, 150, 213, .85);
/*	position:absolute;
	bottom:25px;
	left:0;*/
	margin-top:40px;
	border:0;
	width:378px;
	height:50px;
	color:white;
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-appearance: none;
}

#social-buttons{
	padding-top:5px;
}

.like-button{
	padding-right: 5px;
}